@reference "../../../../styles/tailwind-reference.css";
.favs {
  @apply bg-[#F9F9FA] w-full py-6 px-8;
  height: calc(100vh - 79px);
  overflow-y: auto;
}
.header {
  @apply flex justify-between items-center mt-4;
}
.header .title h3 {
  @apply text-gray-900 font-medium text-[28px] leading-9;
}
.header .title p {
  @apply text-gray-600 leading-5 text-[14px];
}
.header .actions {
  @apply flex items-center justify-between gap-3;
}
.header .actions button {
  @apply cursor-pointer bg-white rounded-lg h-12 border text-gray-700 text-[16px] leading-6 font-semibold border-gray-300 py-3 px-5;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}
.results__content {
  @apply grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pt-6;
}
