@reference "../../../../../styles/tailwind-reference.css";
.h-filter {
  @apply flex gap-4 pt-3;
}
.filter__select {
  @apply w-1/5;
}
.select-box {
  @apply h-[44px] w-full border border-gray-300 cursor-pointer rounded-lg py-2.5 text-gray-500 text-[16px] font-normal leading-6;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}
.select-content {
  @apply border border-gray-300 rounded-lg py-1 bg-white;
}
.select-item {
  @apply text-gray-500 text-[16px] font-normal leading-5 cursor-pointer hover:bg-gray-100;
}
