@reference "../../../../styles/tailwind-reference.css";
.filter {
  @apply flex flex-col gap-4 pb-6 pl-6 pr-6;
}
.filter__select {
  @apply w-full;
}
.select-label {
  @apply text-gray-700 text-[14px] font-medium leading-5 mb-1;
}
.select-box {
  @apply h-[44px] w-full border border-gray-300 cursor-pointer rounded-lg py-2.5 text-gray-500 text-[16px] font-normal leading-6;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}
.select-content {
  @apply border border-gray-300 rounded-lg py-1 bg-white;
}
.select-item {
  @apply text-gray-500 text-[16px] font-normal leading-5 cursor-pointer hover:bg-gray-100;
}
.select__from-to {
  @apply flex;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}
.select-box-from {
  @apply h-[44px] rounded-tr-none rounded-br-none rounded-tl-lg rounded-bl-lg w-1/2 border border-gray-300 cursor-pointer py-2.5 text-gray-500 text-[16px] font-normal leading-6 ring-0;
}
.select-box-to {
  @apply h-[44px] border-l-0 rounded-tr-lg rounded-br-lg rounded-tl-none rounded-bl-none w-1/2 border border-gray-300 cursor-pointer py-2.5 text-gray-500 text-[16px] font-normal leading-6  ring-0;
}

.select-label-length {
  @apply text-gray-900 text-[16px] font-medium leading-6 mb-3;
}
