@reference "../../../../styles/tailwind-reference.css";

.steps {
  @apply hidden sm:flex gap-2 justify-center w-full max-w-2xl mx-auto mt-[50px] mb-6 px-[16px];
}
.steps__first-step,
.steps__seconde-step {
  @apply text-sm font-medium text-center;
}

.steps__third-step {
  @apply text-gray-400 text-sm font-medium text-center;
}
