@reference "../../../../styles/tailwind-reference.css";

.chatBox {
  @apply w-full border-[0.5px] border-[#DCDCDC] rounded-[20px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.05)] mt-6;
}
.chatBox__ai-suggestions {
  @apply px-4 py-3 border border-b-[#DCDCDC] border-t-0 border-l-0 border-r-0;
}
.chatBox__textarea-wrapper {
}
.chatBox__textarea {
  @apply p-3 focus-visible:ring-0 resize-none border-0;
}
.chatBox__attach-btn {
  @apply h-7 gap-1 text-xs cursor-pointer rounded-full border-[0.54px] border-[#00000033];
}
.chatBox__footer {
  @apply w-full px-3 my-3 flex items-center justify-between;
}
