@reference "../../../../styles/tailwind-reference.css";

.header {
  @apply h-[79px] flex items-center justify-between border-[0.6px] border-[#DCDCDC] border-t-0 border-l-0 border-r-0 py-[19px] px-8;
}
.header__login-button {
  @apply text-xl font-bold;
}
.header__right-side {
  @apply flex justify-between items-center gap-5 ml-auto;
}
.header__layout-toggle-button,
.header__theme-toggle-button {
  @apply cursor-pointer;
}
.header__get-professional-branding-button {
  @apply flex items-center rounded-full text-white text-sm font-semibold py-2 px-4 gap-2 cursor-pointer whitespace-nowrap min-h-[34px] min-w-[50px];
  box-shadow: 0px 2px 24px 0px #6466f13d;
}
.header__get-professional-branding-button span {
  @apply hidden 2xl:flex;
}
.header__login-button {
  @apply bg-white flex items-center border border-[#D5D7DA] rounded-full sm:py-2 sm:px-4 sm:gap-2 px-[7px] py-[7px] cursor-pointer;
  box-shadow: 0px 2px 24px 0px #6466f13d;
}
.header__login-button span {
  @apply hidden sm:flex text-sm font-semibold leading-5 whitespace-nowrap;
}
