@reference "../../../../styles/tailwind-reference.css";

.login__button {
  @apply bg-white flex items-center border border-[#D5D7DA] rounded-full sm:py-2 sm:px-4 sm:gap-2 px-[7px] py-[7px] cursor-pointer;
  box-shadow: 0px 2px 24px 0px #6466f13d;
}
.login__button span {
  @apply hidden sm:flex text-sm font-semibold leading-5 whitespace-nowrap;
}
.answer__skip-to-result {
  @apply h-9 rounded-full bg-white border border-[#6466F1] shadow-[0px_2px_24px_0px_rgba(100,102,241,0.4)] text-[#414651]  hover:bg-[#6466F1] hover:text-white cursor-pointer font-semibold px-3.5! py-2!;
}
.login__modal {
  @apply rounded-2xl p-6 bg-white border-0 flex  gap-6 max-w-fit;
  box-shadow: 0px 8px 8px -4px #0a0d1208, 0px 20px 24px -4px #0a0d1214;
}
.login__modal button[data-dialog-close] {
  display: none !important;
}
.login__modal-header {
  @apply flex flex-col items-center justify-center gap-4;
}
.pills {
  @apply flex justify-center items-center text-sm font-medium leading-5 gap-3 flex-wrap;
}
.pills span {
  @apply flex justify-center items-center bg-[#F5F6FF] py-0.5 px-2.5 whitespace-nowrap rounded-2xl;
}
.login__modal-title {
  @apply text-gray-900 font-semibold leading-[38px] text-[30px] text-center;
}
.login__modal-desc {
  @apply text-gray-600 font-normal leading-6 text-[16px];
}
.login__modal-form {
  @apply flex flex-col gap-4;
}
.login__modal-form input {
  @apply border border-gray-300 rounded-lg bg-white shadow-none outline-none ring-0;
}
.login__modal-form button {
  @apply text-white rounded-lg border border-[#00005C] py-2.5 px-[18px] font-semibold leading-6 text-[16px] cursor-pointer;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}
.divider {
  @apply flex items-center justify-between gap-2;
}
.line {
  @apply h-px w-1/2 bg-gray-200;
}
.or {
  @apply text-gray-500 leading-5 font-normal text-sm;
}
.fast-login {
  @apply flex flex-col gap-2;
}
.fast-login button {
  @apply bg-white text-gray-700 leading-6 text-[16px] font-semibold border border-gray-300 rounded-lg py-2.5 px-4 cursor-pointer flex justify-center items-center gap-3;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}
.login__modal-footer {
  @apply flex justify-center items-center text-sm leading-5;
}
.login__modal-footer span:first-of-type {
  @apply text-gray-600;
}
.login__modal-footer span:last-of-type {
  @apply cursor-pointer font-semibold;
}
