@reference "../../../../styles/tailwind-reference.css";
.results {
  @apply bg-[#F9F9FA] p-6 overflow-y-auto;
  height: calc(100vh - 79px);
}
.results__header {
  @apply flex justify-between items-center;
}
.results__header-title {
  @apply text-gray-900 font-medium text-[18px] leading-10;
}
.results__content {
  @apply grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pt-3;
}
