@reference "../../../../styles/tailwind-reference.css";

.question {
  @apply relative flex flex-col items-center justify-center my-auto;
}
.question__item {
  @apply relative flex items-center justify-center w-full;
}
.question__item-text {
  @apply text-center max-w-[627px] px-8;
}
.question__title {
  @apply text-2xl font-semibold;
}
.question__description {
  @apply mt-3 text-base text-[#8C8C8C] font-normal;
}
.question__prev-btn {
  @apply absolute left-8 bg-[#F9F9FA] text-[#1D1B20] w-[34px] h-[34px] md:w-[68px] md:h-[68px] cursor-pointer opacity-80;
}
.question__next-btn {
  @apply absolute right-[58px] bg-[#F9F9FA] text-[#1D1B20] w-[68px] h-[68px] cursor-pointer;
}
.question__progress {
  @apply text-center w-[230px] mb-10 mt-10 sm:mt-0;
}
.question__progress-text {
  @apply mb-4.5 text-xs text-[#8C8C8C] font-semibold;
}
